## Unit 3 Lesson 1 Drill

Question 1:
Greg was 14, Marcia was 12, Peter was 11, Jan was 10, Bobby was 8, and Cindy was 6 when they started playing the Brady kids on The Brady Bunch. Cousin Oliver was 8 years old when he joined the show. What are the mean, median, and mode of the kids' ages when they first appeared on the show? What are the variance, standard deviation, and standard error?

In [1]:
import statistics as stat
import numpy as np
import pandas as pd

# Make a blank data frame.
df = pd.DataFrame()
df['Name']=['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
df['Age']=[14, 12, 11, 10, 8, 6, 8]
df

     Name  Age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5   Cindy    6
6  Oliver    8

In [2]:
df.describe()

             Age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [3]:
df.mean(), df.median(), stat.mode(df['Age'])

(Age    9.857143
 dtype: float64, Age    10.0
 dtype: float64, 8)

In [4]:
df.var(), df.std(), print ("The standard error of ", df.std()/np.sqrt(len(df['Age'])) )

The standard error of  Age    1.033454
dtype: float64

(Age    7.47619
 dtype: float64, Age    2.734262
 dtype: float64, None)

Question 2:
Using these estimates, if you had to choose only one estimate of central tendency and one estimate of variance to describe the data, which would you pick and why?

Answer: I would select median for central tendency because it gives the best idea of where most of the data points lie.
For estimate of variance I would pick standard error becasue it is easy to understand for even a lay man that the variation of datapoints is around 1 year of the mean i.e 9.8yrs.

Question 3:
Next, Cindy has a birthday. Update your estimates- what changed, and what didn't?

In [5]:
df

     Name  Age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5   Cindy    6
6  Oliver    8

In [6]:
df.loc[df[df['Name']=='Cindy'].index,'Age'] = 7
df

     Name  Age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5   Cindy    7
6  Oliver    8

In [7]:
df.mean(), df.median(), stat.mode(df['Age'])
#   9.8        10          8   are previous values

(Age    10.0
 dtype: float64, Age    10.0
 dtype: float64, 8)


Only the Mean changed with Central tendencies

In [8]:
df.var(), df.std(), print ("The standard error of ", df.std()/np.sqrt(len(df['Age'])) )
#   7.47        2.7           1.03   are previous values

The standard error of  Age    0.95119
dtype: float64

(Age    6.333333
 dtype: float64, Age    2.516611
 dtype: float64, None)

 All of variance estimates changed. But by a small amount.

Question 4:
Nobody likes Cousin Oliver. Maybe the network should have used an even younger actor. Replace Cousin Oliver with 1-year-old Jessica, then recalculate again. Does this change your choice of central tendency or variance estimation methods?

In [9]:
df

     Name  Age
0    Greg   14
1  Marcia   12
2   Peter   11
3     Jan   10
4   Bobby    8
5   Cindy    7
6  Oliver    8

In [10]:
df.loc[df[df['Name']=='Oliver'].index,'Name'] = 'Jessica'
df.loc[df[df['Name']=='Jessica'].index,'Age'] = 1

In [11]:
df

      Name  Age
0     Greg   14
1   Marcia   12
2    Peter   11
3      Jan   10
4    Bobby    8
5    Cindy    7
6  Jessica    1

In [12]:
df.mean(), df.median()
#   10        10        are previous values

(Age    9.0
 dtype: float64, Age    10.0
 dtype: float64)

In [13]:
stat.mode(df['Age'])

StatisticsError: no unique mode; found 7 equally common values

The mean changed but median did not change. and there was no mode calculated since all 7 are unique vlaues. Both mean and mode are my choice estimates

In [14]:
df.var(), df.std(), print ("The standard error of ", df.std()/np.sqrt(len(df['Age'])) )
#  6.33        2.5           0.95   are previous values

The standard error of  Age    1.603567
dtype: float64

(Age    18.0
 dtype: float64, Age    4.242641
 dtype: float64, None)

All the variance estiamtes changed drastically. But still I would say the standard error is my choice for variation estimates.

Question 5:
On the 50th anniversary of The Brady Bunch, four different magazines asked their readers whether they were fans of the show. The answers were: TV Guide 20% fans Entertainment Weekly 23% fans Pop Culture Today 17% fans SciPhi Phanatic 5% fans

Based on these numbers, what percentage of adult Americans would you estimate were Brady Bunch fans on the 50th anniversary of the show?

I would take an average of the all percentages and assume it as the percnetage of adult Americans that liked the show i.e 17%

In [15]:
(20+23+17+8)/4

17.0